<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Resources.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/SachinKumar/Documents/Sachin Kumar/Projects/SourceDemo/src/test/java/Test/Main.java">
        <classes>
            <class name="Test.Main">
                <methods>
                    <include name="correctDetails"/>
                    <include name="incorrectDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>