<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Resources.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Jyoti/Documents/Jyoti/Projects/SauceDemo/src/test/java">
        <classes>
            <class name="Test.LoginModule"/>
            <class name="Test.VerifyHomePage"/>
        </classes>
    </test>
</suite>
